@import url("https://fonts.googleapis.com/css2?family=Literata:wght@400;500;600;700&display=swap");
body,
button,
input {
  font-family: "Literata", serif;
}

:root {
  --red: #be0006;
  --oldLavendar: #7d6b7d;
  --charcoal: #3c4852;
  --placeholderColor: #848a8f;
  --auroMetalSaurus: #6c757d;
  --Seashell: #f1f1f1;
  --white: #ffffff;
  --Cultured: #f5f5f5;
  --YankeesBlue: #1e2c37;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-charcoal {
  color: var(--charcoal) !important;
}

.bg-cultured {
  background-color: var(--Cultured) !important;
}
.text-cultured {
  color: var(--Cultured);
}
.bg-red {
  background-color: var(--red);
}
.bg-yankeesBlue {
  background-color: var(--YankeesBlue);
}

/* Navbar */
.logo {
  height: 60px;
  width: 60px;
}

.btn:focus {
  box-shadow: none;
}
.btn-red {
  background-color: var(--red) !important;
  color: var(--white) !important;
}

.btn-outline-red {
  border: 1px solid var(--red);
  background-color: var(--Seashell) !important;
  color: var(--red) !important;
}

.text-justify {
  text-align: justify;
}
/********/
.search-input {
  position: relative;
  background-color: var(--Seashell);
}
.search-input .form-control {
  padding-right: 2rem;
  background-color: transparent;
  border: 1px solid var(--auroMetalSaurus);
}
.search-input .form-control:focus {
  box-shadow: none;
}
.search-input-icon {
  position: absolute;
  right: 0;
  height: 100%;
  z-index: 4;
}
.search-input-icon .input-group-text {
  background-color: transparent;
  border: 0;
}

/*HOME SLIDER*/
.homeSlider .homeSlider-prev,
.homeSlider .homeSlider-next {
  height: 56px;
  width: 56px;
  border-radius: 5000px;
  font-size: 1.3rem;
  color: var(--red);
  background-color: var(--white);
}

.homeSlider .homeSlider-prev::after,
.homeSlider .homeSlider-next::after,
.trendingNow-slider-next::after,
.trendingNow-slider-prev::after {
  content: none;
}
.homeSlider-nav-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 0;
  transform: translateY(-50%);
  z-index: 20;
}
.homeSlider-navigation {
  position: relative;
}

.homeSlide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeSlide-text {
  position: absolute;
  z-index: 5;
  color: var(--white);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
}
.homeSlider-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: var(--Seashell);
}
/*category*/
.category-thumb {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-thumb::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--charcoal);
  opacity: 0.35;
  z-index: 1;
}
.category-thumb-text {
  position: absolute;
  color: var(--white);
  font-size: 2rem;
  z-index: 2;
}
/*new launch*/
.launch-card-body {
  position: relative;
  margin-top: -2rem;
  z-index: 5;
}
.launch-card-header-icon {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: 100%;
  transform: translateY(50%);
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fd3a84;
  font-size: 1.2rem;
  background-color: var(--white);
  z-index: 1;
}
.launch-card-header-icon::before {
  content: "";
  position: absolute;
  height: 46px;
  width: 46px;
  background-color: #efefef;
  z-index: -1;
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
  margin: auto;
  border-radius: 500px;
}
.launch-card-list-item {
  margin-right: 0.75rem;
  color: var(--oldLavendar);
}
.launch-card-list-item > div {
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
}
.launch-card-icon {
  height: 1rem;
  width: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.launch-card-action-icon {
  display: inline-flex;
  height: 42px;
  width: 42px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  border-radius: 500px;
  color: var(--charcoal);
  background-color: #efefef;
}
.launch-card-body-heading {
  font-weight: 500;
}
.launch-card-footer-button {
  margin-left: auto;
  border: 1px solid var(--charcoal);
  background-color: var(--white);
  color: var(--charcoal);
  font-size: 0.875rem;
  padding: 0.125rem 0.75rem !important;
}
.launch-card-avatar-list .launch-card-avatar {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  overflow: hidden;
}
.launch-card-avatar-list .launch-card-avatar > img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
.launch-card-avatar-list .launch-card-avatar:not(:first-child) {
  margin-left: -1.25rem;
}

.info-card-title {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
.info-card-subtitle {
  text-align: center;
  font-size: 0.875rem;
}
.info-card .icon {
  height: 56px;
  width: 56px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 500px;
  background-color: #3c4852;
  color: #ffffff;
  margin: auto;
}
.info-card:hover .info-card-title {
  color: var(--red);
}
.info-card:hover .icon {
  background-color: var(--red);
}

.trendingNow-slide .card-img-top {
  min-height: 300px;
  object-fit: cover;
}
.trendingNow-slide {
  transition: all ease 0.25s;
}
.trendingNow-slide .card-img-top {
  transition: all ease 0.75s;
}
.trendingNow-slide.trendingNow-slide.swiper-slide-active .card-img-top {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.trendingNow-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  transform: scale(0.9);
}
.trendingNow-slider-next,
.trendingNow-slider-prev {
  height: 48px;
  width: 48px;
  border-radius: 500px;
  background-color: var(--red);
  color: var(--white);
}
.trendingNow-slider-prev {
  transform: translateX(-70%);
}
.trendingNow-slider-next {
  transform: translateX(70%);
}

.video-slide {
  position: relative;
}
.video-thumb {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.video-slide-tags-list {
  position: absolute;
  top: 4px;
  right: 4px;
  color: var(--white);
}
.video-slide-tags-list .tag {
  font-size: 10px;
  padding: 0.25rem 0.5rem;
  margin-left: 8px;

  text-transform: uppercase;
  position: relative;
}
.video-slide-tags-list .tag::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}
.video-slide-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  border: 2px solid var(--white);
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  color: var(--white);
}
.video-slider-navigation .prev,
.video-slider-navigation .next {
  height: 48px;
  width: 48px;
  background-color: var(--white);
  color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
}
@media screen and (min-width: 992px) {
  .videos-section {
    margin-bottom: 5rem;
  }

  .videos-slider {
    margin-bottom: -12rem;
  }
}
